body{
	text-align: center;
	background: #FFF9F1;
}

p { 
	font-size: 10vw; 
}

.main {
	padding-top: 15vh;
}

.btn{
	color: white;
	border-radius: none;
	font-size: 8vw; 
	box-shadow: -5px 5px 10px 1px black;  
}

.shop{
	background: orange;
	color: white;
	font-size: 12vw; 
	padding: 10px 30px;
}

.intro{
	font-style: italic;
}


@media(min-width: 768px){

p { 
	font-size: 4vw; 
}

.btn{
	font-size: 4vw; 
}

.shop{
	font-size: 6vw; 
	padding: 10px 30px;
}


}